<div class="container">
    <h2 class="text-center p-5">About Me</h2>
    <section class="row">
        <div class="col">
            <div class="clearfix">
                <p> His parents continued to question him. He didn't know what to say to them since they refused to
                    believe the truth. He explained again and again, and they dismissed his explanation as a figment of
                    his imagination. There was no way that grandpa, who had been dead for five years, could have told
                    him where the treasure had been hidden. Of course, it didn't help that grandpa was roaring with
                    laughter in the chair next to him as he tried to explain once again how he'd found it.
                </p>
                <img src="assets/images/photographer.jpg"
                    class="col-12 col-sm-6 col-md-5 col-xl-4 mb-3 ms-sm-3 rounded float-end" alt="...">
                <h3>How i became a Photographer</h3>
                <p> It had become a far too common an event in her life. She has specifically placed the key to the box
                    in a special place so that she wouldn't lose it and know exactly where it was when the key was
                    needed. Now that she needed to open the box, she had absolutely no idea where that special spot she
                    placed the key might be.</p>
                <p> I guess we could discuss the implications of the phrase "meant to be." That is if we wanted to drown
                    ourselves in a sea of backwardly referential semantics and other mumbo-jumbo. Maybe such a
                    discussion would result in the determination that "meant to be" is exactly as meaningless a phrase
                    as it seems to be, and that none of us is actually meant to be doing anything at all. But that's my
                    existential underpants underpinnings showing. It's the way the cookie crumbles. And now I want a
                    cookie. He picked up the burnt end of the branch and made a mark on the stone. Day 52 if the marks
                    on the stone were accurate.</p>
                <h3>My Passion about Photography</h3>
                <p> He couldn't be sure. Day and nights had begun to blend together creating confusion, but he knew it
                    was a long time. Much too long. Don't forget that gifts often come with costs that go beyond their
                    purchase price. When you purchase a child the latest smartphone, you're also committing to a monthly
                    phone bill. When you purchase the latest gaming system, you're likely not going to be satisfied with
                    the games that come with it for long and want to purchase new titles to play. When you buy gifts
                    it's important to remember that some come with additional costs down the road that can be much more
                    expensive than the initial gift itself.</p>
                <p> He looked at the sand. Picking up a handful, he wondered how many grains were in his hand. Hundreds
                    of thousands? "Not enough," the said under his breath. I need more. I'm going to hire professional
                    help tomorrow. I can't handle this anymore. She fell over the coffee table and now there is blood in
                    her catheter. This is much more than I ever signed up to do. He was aware there were numerous
                    wonders of this world including the unexplained creations of humankind that showed the wonder of our
                    ingenuity. There are huge heads on Easter Island. There are the Egyptian pyramids. There’s
                    Stonehenge.</p>
                <p class="mb-5"> But he now stood in front of a newly discovered monument that simply didn't make any
                    sense and he wondered how he was ever going to be able to explain it. There once lived an old man
                    and an old woman who were peasants and had to work hard to earn their daily bread. The old man used
                    to go to fix fences and do other odd jobs for the farmers around, and while he was gone the old
                    woman, his wife, did the work of the house and worked in their own little plot of land.</p>
            </div>
        </div>
    </section>
</div>