.imgS {
  width: 20vw;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.imgS:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: grayscale(20%);
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 59px 38px,
    rgba(0, 0, 0, 0.22) 0px 55px 12px;
}

#imgB {
  width: 50%;
}

@media (max-width: 768px) {
  .imgS {
    width: 50vw;
    height: 50vw;
  }

  #imgB {
  width: 90%;
}
  
  .imgS:hover {
    transform: none;
    filter: none;
    transition: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
}
