<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-3 justify-content-center py-1">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-8 col-sm-6 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text"><svg class="svg-inline--fa fa-camera-retro fa-w-16" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="camera-retro" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 60 512 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M48 32C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48H48zm0 32h106c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H38c-3.3 0-6-2.7-6-6V80c0-8.8 7.2-16 16-16zm426 96H38c-3.3 0-6-2.7-6-6v-36c0-3.3 2.7-6 6-6h138l30.2-45.3c1.1-1.7 3-2.7 5-2.7H464c8.8 0 16 7.2 16 16v74c0 3.3-2.7 6-6 6zM256 424c-66.2 0-120-53.8-120-120s53.8-120 120-120 120 53.8 120 120-53.8 120-120 120zm0-208c-48.5 0-88 39.5-88 88s39.5 88 88 88 88-39.5 88-88-39.5-88-88-88zm-48 104c-8.8 0-16-7.2-16-16 0-35.3 28.7-64 64-64 8.8 0 16 7.2 16 16s-7.2 16-16 16c-17.6 0-32 14.4-32 32 0 8.8-7.2 16-16 16z">
                            </path>
                        </svg> The Photographer</h3>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-6 col-12">
                        <h5 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>Address</b></h5>
                        <p class="mb-1">Big Business Building 605</p>
                        <p class="mb-1">Donau Insel</p>
                        <p class="mb-1">1648 Vienna</p>
                        <p class="mb-1">Austria</p>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-8 col-sm-6 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square"
                                    aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter"
                                    aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram"
                                    aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;</span> The
                            Photographer
                            All Rights Reserved.</small>
                    </div>

                    <div class="col-xl-4 col-md-4 col-sm-6 col-auto order-2 align-self-end mt-3 ">
                        <h5 class="text-muted bold-text"><b>Bruce Wayne</b></h5><small><span><i
                                    class="fa fa-envelope" aria-hidden="true"></i></span> thephotographer@gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>